basePath: /api
definitions:
  users_controller.LoginInput:
    properties:
      email:
        type: string
      password:
        minLength: 5
        type: string
    required:
    - email
    - password
    type: object
  users_controller.RegisterInput:
    properties:
      deposit_amount:
        type: number
      email:
        type: string
      password:
        minLength: 5
        type: string
      role:
        enum:
        - user
        - admin
        type: string
      username:
        minLength: 5
        type: string
    required:
    - email
    - password
    - username
    type: object
  users_controller.TopUpInput:
    properties:
      deposit_amount:
        minimum: 10000
        type: number
    required:
    - deposit_amount
    type: object
  users_service.Users:
    properties:
      deposit_amount:
        type: number
      email:
        type: string
      id:
        type: string
      password:
        type: string
      role:
        type: string
      username:
        type: string
    type: object
  users_service.UsersResponse:
    properties:
      deposit_amount:
        type: number
      email:
        type: string
      id:
        type: string
      role:
        type: string
      username:
        type: string
    type: object
host: localhost:8000
info:
  contact:
    email: support@swagger.io
    name: API Support
    url: http://www.swagger.io/support
  description: This is a sample server Petstore server.
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: http://swagger.io/terms/
  title: Swagger Example API
  version: "1.0"
paths:
  /auth/login:
    post:
      consumes:
      - application/json
      description: Authenticate user and return JWT token
      parameters:
      - description: Login credentials
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/users_controller.LoginInput'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            additionalProperties: true
            type: object
        "400":
          description: Bad Request
          schema:
            additionalProperties: true
            type: object
        "401":
          description: Unauthorized
          schema:
            additionalProperties: true
            type: object
      summary: Login
      tags:
      - Authentication
  /auth/register:
    post:
      consumes:
      - application/json
      description: Register a new user account
      parameters:
      - description: Registration details
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/users_controller.RegisterInput'
      produces:
      - application/json
      responses:
        "201":
          description: User registered successfully
          schema:
            $ref: '#/definitions/users_service.UsersResponse'
        "400":
          description: Invalid input or validation error
          schema:
            additionalProperties: true
            type: object
      summary: Register user
      tags:
      - Authentication
  /users/list:
    get:
      consumes:
      - application/json
      description: Get list of users
      produces:
      - application/json
      responses:
        "200":
          description: Successfully retrieved all users
          schema:
            $ref: '#/definitions/users_service.Users'
        "401":
          description: Unauthorized
          schema:
            additionalProperties: true
            type: object
        "403":
          description: Forbidden
          schema:
            additionalProperties: true
            type: object
        "500":
          description: Users not found
          schema:
            additionalProperties: true
            type: object
      security:
      - BearerAuth: []
      summary: Get all users
      tags:
      - Admin - Users
  /users/me:
    get:
      consumes:
      - application/json
      description: User can see the specific information in their user account
      produces:
      - application/json
      responses:
        "200":
          description: User retrieved successfully
          schema:
            $ref: '#/definitions/users_service.Users'
        "400":
          description: Invalid userId
          schema:
            additionalProperties: true
            type: object
        "401":
          description: Unauthorized
          schema:
            additionalProperties: true
            type: object
        "404":
          description: Forbidden
          schema:
            additionalProperties: true
            type: object
        "500":
          description: User not found
          schema:
            additionalProperties: true
            type: object
      security:
      - BearerAuth: []
      summary: Get user by jwttoken id
      tags:
      - Users
  /users/topup:
    post:
      consumes:
      - application/json
      description: Users can top up their deposit amount
      parameters:
      - description: Input deposit amount
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/users_controller.TopUpInput'
      produces:
      - application/json
      responses:
        "200":
          description: Successfully top up your deposit
          schema:
            additionalProperties: true
            type: object
        "400":
          description: Invalid request or validation input
          schema:
            additionalProperties: true
            type: object
        "401":
          description: Unauthorized
          schema:
            additionalProperties: true
            type: object
        "500":
          description: Top up failed
          schema:
            additionalProperties: true
            type: object
      security:
      - BearerAuth: []
      summary: Top Up
      tags:
      - Users
securityDefinitions:
  BearerAuth:
    description: type "Bearer" followed by a space and your JWT token
    in: header
    name: Authorization
    type: apiKey
swagger: "2.0"
